In [1]:

# Install the PyDrive wrapper & import libraries.
# This only needs to be done once in a notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

     |████████████████████████████████| 993kB 7.0MB/s
  Building wheel for PyDrive (setup.py) ... done

In [2]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!ls

adc.json  drive  sample_data

In [4]:
!ls '/content/drive/My Drive/AV_data/Quantum_Black_5th_July_2019/'

drive_csv_file.zip  trip_csv_file.zip  weather_csv_file.zip

In [0]:
# !unzip -q '/content/drive/My Drive/AV_data/input_data.zip'

In [0]:
!pip install fastparquet

Requirement already satisfied: fastparquet in /usr/local/lib/python3.6/dist-packages (0.3.1)
Requirement already satisfied: thrift>=0.11.0 in /usr/local/lib/python3.6/dist-packages (from fastparquet) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from fastparquet) (1.16.4)
Requirement already satisfied: numba>=0.28 in /usr/local/lib/python3.6/dist-packages (from fastparquet) (0.40.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from fastparquet) (0.24.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from fastparquet) (1.12.0)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.28->fastparquet) (0.29.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->fastparquet) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->fastparquet) (2018.9)

In [0]:
import pandas as pd
import pyarrow.parquet as pq
import os
from pathlib import Path
import datetime
from datetime import timedelta

In [0]:
weather = pq.read_pandas('/content/input_data/weather/part-00199-tid-6948431846308939962-d261a692-da15-442f-8f9f-0021ff4fa635-1205-c000.snappy.parquet').to_pandas()

In [0]:
weather.shape

(52594, 14)

In [0]:
weather.head(3)

     x   y        date time  ...  wind_ew_data  wind_ew_unit wind_ns_data wind_ns_unit
0  203  55  2017-01-26  20Z  ...     -1.550000           m/s     1.860000          m/s
1   72  49  2017-01-01  02Z  ...      3.340000           m/s     2.510000          m/s
2  209  56  2017-02-06  11Z  ...      0.890000           m/s     3.430000          m/s

[3 rows x 14 columns]

In [0]:
from pathlib import Path
import pandas as pd

data_dir = Path('/content/input_data/weather/')
full_df_weather = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet')
)
full_df_weather.to_csv('weather_csv_file.csv',index=False)

In [0]:
full_df_weather.shape

(10586016, 14)

In [0]:
full_df_weather.iloc[0,:]

x                            127
y                             39
date                  2017-02-25
time                         11Z
lat                      29.9375
lon                     -109.062
temperature_data      278.380000
temperature_unit               k
precipitation_data      0.000000
precipitation_unit        kg/m^2
wind_ew_data           -1.070000
wind_ew_unit                 m/s
wind_ns_data           -0.470000
wind_ns_unit                 m/s
Name: 0, dtype: object

In [0]:
from pathlib import Path
import pandas as pd

data_dir = Path('/content/input_data/drive_1/')
full_df_drive = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet')
)
full_df_drive.to_csv('drive_csv_file.csv',index=False)

In [0]:
full_df_drive.shape

(9217528, 12)

In [0]:
full_df_drive.iloc[0,:]

vehicle_id                                      1000517
trip_id                e117220c8b15455f800a4b5b0c4c52a7
datetime                            2017-01-27 12:00:00
velocity                                              0
accel_x                                              48
accel_y                                           76.22
accel_z                                           78.92
engine_coolant_temp                                  97
eng_load                                         223.21
fuel_level                                       170.91
iat                                                  88
rpm                                             2066.48
Name: 0, dtype: object

In [0]:
from pathlib import Path
import pandas as pd

data_dir = Path('/content/input_data/trip/')
full_df_trip = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet')
)
full_df_trip.to_csv('trip_csv_file.csv',index=False)

In [0]:
full_df_trip.shape

(9217528, 6)

In [0]:
full_df_trip.head(2)

   vehicle_id                           trip_id  ...       long  velocity
0     1000516  2e2a9936393a424abf4dea3943c83040  ... -85.437500      0.00
1     1000516  2e2a9936393a424abf4dea3943c83040  ... -85.437222     63.41

[2 rows x 6 columns]

In [0]:
from zipfile import ZipFile

In [0]:
with ZipFile('drive_csv_file.zip', 'w') as zipObj2:
  # Add multiple files to the zip
  zipObj2.write('drive_csv_file.csv')

In [0]:
df = pd.read_csv('drive_csv_file.zip')

# Or write to a compressed file:
# df.to_csv('data.csv.zip')

In [0]:
df.head(3)

   vehicle_id                           trip_id  ...   iat      rpm
0     1000517  e117220c8b15455f800a4b5b0c4c52a7  ...  88.0  2066.48
1     1000517  e117220c8b15455f800a4b5b0c4c52a7  ...  75.0  2057.53
2     1000517  e117220c8b15455f800a4b5b0c4c52a7  ...  94.0  2046.12

[3 rows x 12 columns]

In [0]:
df.shape

(9217528, 12)

In [0]:
df[df['trip_id'] == 'e117220c8b15455f800a4b5b0c4c52a7'].head(3)

   vehicle_id                           trip_id  ...   iat      rpm
0     1000517  e117220c8b15455f800a4b5b0c4c52a7  ...  88.0  2066.48
1     1000517  e117220c8b15455f800a4b5b0c4c52a7  ...  75.0  2057.53
2     1000517  e117220c8b15455f800a4b5b0c4c52a7  ...  94.0  2046.12

[3 rows x 12 columns]

In [0]:
df['trip_id'].nunique()

1708

In [0]:
with ZipFile('trip_csv_file.zip', 'w') as zipObj2:
  # Add multiple files to the zip
  zipObj2.write('trip_csv_file.csv')

In [0]:
with ZipFile('weather_csv_file.zip', 'w') as zipObj2:
  # Add multiple files to the zip
  zipObj2.write('weather_csv_file.csv')